body.enable-fixed-header {
    padding-top: 103px;
}
body.external .help-block {
    margin-top: 0;
}
body.external .h

elp-block ul {
    margin: 0;
}
body.external .help-block li {
    list-style: none;
}
body.external .hero-title {
    background-color: white;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 40px;
}
body.external .hero-title .hero-unit {
    background: transparent;
    margin: 0px;
    padding: 50px;
}
body.external .hero-title h1 {
    font-family: "alternate-gothic-no-1-d", Helvetica, Arial, serif;
    text-align: center;
    font-weight: normal;
    font-size: 60pt;
}
body.external {
    background-color: #f4f4f4;
}
body.external .navbar {
    background-color: #f4f4f4;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 0;
}
body.external .navbar .navbar-inner {
    background: none;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
}
body.external .navbar .brand {
    padding-top: 0;
    padding-bottom: 0;
    height: 102px;
}
body.external .navbar .logo img {
    padding-top: 15px;
    position: absolute;
    width: 70px;
}
body.external .navbar .logo-text {
    padding-left: 85px;
    vertical-align: middle;
    font-family: "alternate-gothic-no-1-d", Helvetica, Arial, serif;
    font-size: 42pt;
    line-height: 107px;
    color: #333;
    text-transform: uppercase;
}
body.external .navbar .nav {
    margin-top: 20px;
    font-size: 13pt;
}
body.external .navbar .nav li {
    line-height: 40px;
}
body.external, html {
    height: 100%}
body.external .wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-top: 0;
    margin-bottom: -95px;
}
body.external .footer-placeholder {
    height: 95px;
}
body.external .footer {
    position: relative;
    background: #333;
    text-align: center;
    padding-top: 30px;
    height: 65px;
}
body.external .footer a {
    color: #9a9a9a;
}
body.external .footer a:hover {
    border-radius: 3px;
    background-color: #777;
    color: #333;
}
body.external .footer .nav {
    display: inline-block;
}
body.external .footer .mixpanel {
    position: absolute;
    top: 30px;
    right: 20px;
}
body.external .footer .mixpanel img {
    opacity: .5;
}

body#welcome_index .navbar {
    background-color: rgba(244, 244, 244, 0.9);
}
body#welcome_index .navbar:hover {
    background-color: #f4f4f4;
}
body#welcome_index #banner-container {
    position: relative;
}
body#welcome_index #banner {
    display: block;
    position: absolute;
    top: 10px;
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
    margin-bottom: 6px;
    height: 70px;
    width: 103px;
}
body#welcome_index #banner .content {
    position: absolute;
    left: 0px;
    top: -10px;
    width: 85px;
    background: #80e8cc;
    border-top: 1px solid #71d9bd;
    border-left: 1px solid #71d9bd;
    border-right: 1px solid #71d9bd;
    z-index: 1000;
    padding: 8px;
    font-size: 10pt;
}
body#welcome_index #banner .content strong {
    font-size: 13pt;
}
body#welcome_index #banner .first {
    margin-top: 2px;
}
body#welcome_index #banner .learn {
    margin-top: 6px;
    padding-top: 4px;
    border-top: 1px solid #71d9bd;
}
body#welcome_index #banner:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 51%;
    background: #80e8cc;
    border-left: 1px solid #71d9bd;
    border-bottom: 1px solid #71d9bd;
    -webkit-transform: skew(0deg,  -10deg);
    -moz-transform: skew(0deg,  -10deg);
    -ms-transform: skew(0deg,  -10deg);
    -o-transform: skew(0deg,  -10deg);
    transform: skew(0deg,  -10deg);
}
body#welcome_index #banner:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: #80e8cc;
    border-right: 1px solid #71d9bd;
    border-bottom: 1px solid #71d9bd;
    -webkit-transform: skew(0deg,  10deg);
    -moz-transform: skew(0deg,  10deg);
    -ms-transform: skew(0deg,  10deg);
    -o-transform: skew(0deg,  10deg);
    transform: skew(0deg,  10deg);
}
body#welcome_index #banner.fix-offset:before {
    left: 1px;
}
body#welcome_index #banner.fix-offset:after {
    right: -1px;
}
body#welcome_index .headline {
    background-color: white;
    height: 300px;
    text-align: center;
    padding-bottom: 120px;
}
body#welcome_index .headline h1 {
    font-size: 110px;
    line-height: 100px;
    font-weight: normal;
    margin-top: 60px;
}
body#welcome_index .headline p {
    font-size: 18px;
}
body#welcome_index .headline .actions {
    margin-top: 34px;
}
body#welcome_index .headline .actions .btn:first-child {
    margin-right: 10px;
}
body#welcome_index .headline .actions .btn-large {
    width: 162px;
    height: 26px;
    line-height: 26px;
}
body#welcome_index .screenshots {
    background-color: #e5e5e5;
    height: 300px;
    margin-bottom: 156px;
}
body#welcome_index .screenshots .image-container {
    position: relative;
}
body#welcome_index .screenshots .image-container .image {
    display: block;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.68);
}
body#welcome_index .screenshots .image-container .image-main {
    position: relative;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    top: -78px;
    z-index: 2;
}
body#welcome_index .screenshots .image-container .image-left, body#welcome_index .screenshots .image-container .image-right {
    position: absolute;
    height: 380px;
    top: -40px;
    z-index: 1;
}
body#welcome_index .screenshots .image-container .image-left {
    left: 0;
}
body#welcome_index .screenshots .image-container .image-right {
    right: 0;
}
body#welcome_index .users {
    background-color: white;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding-top: 50px;
    padding-bottom: 40px;
}
body#welcome_index .users p {
    text-align: center;
    padding-bottom: 14px;
}
body#welcome_index .users .symbol {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%}
body#welcome_index .users .icon {
    display: block;
    position: relative;
    top: 43px;
    left: 40px;
    height: 70px;
    width: 70px;
    line-height: 70px;
    font-size: 70px;
    color: white;
    text-align: center;
}
body#welcome_index .users .icon:before {
    vertical-align: text-bottom;
}
body#welcome_index .users h2 {
    font-size: 42px;
    text-align: center;
}
body#welcome_index .users h3 {
    text-align: center;
    font-family: "proxima-nova", Helvetica, Arial, serif;
}
body#welcome_index .users .designers .symbol {
    background-color: #00a8db;
}
body#welcome_index .users .designers h3 {
    color: #09c;
}
body#welcome_index .users .product-managers .symbol {
    background-color: #f66930;
}
body#welcome_index .users .product-managers h3 {
    color: #f66930;
}
body#welcome_index .users .developers .symbol {
    background-color: #80e8cc;
}
body#welcome_index .users .developers h3 {
    color: #71d9bd;
}
body#welcome_index .features {
    font-family: 46px;
    font-size: 18px;
    line-height: 1.5;
}
body#welcome_index .features h1 {
    text-align: center;
    font-size: 70px;
    padding-top: 120px;
}
body#welcome_index .features h2 {
    font-size: 40px;
}
body#welcome_index .features img {
    border-radius: 50%}
body#welcome_index .features .row {
    margin-top: 50px;
}
body#welcome_index .features .smaller {
    font-size: 16px;
    text-align: center;
}
body#welcome_index .features .smaller p {
    padding-right: 15px;
}
body#welcome_index .features .right {
    text-align: right;
}
body#welcome_index .features .bordered {
    max-width: 100%;
    background-color: white;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid;
    padding: 10px;
}
body#welcome_index .features .designers {
    color: #00a8db;
}
body#welcome_index .features .product-managers {
    color: #f66930;
}
body#welcome_index .features .developers {
    color: #80e8cc;
}
body#welcome_index .features .feature1 .description, body#welcome_index .features .clickable-prototypes .description, body#welcome_index .features .export-to-html .description {
    margin-top: 5%}
body#welcome_index .features .feature2 .description, body#welcome_index .features .export-to-html .description {
    text-align: right;
}
body#welcome_index .features .smaller .bordered {
    width: auto;
}
body#welcome_index .pricing h1 {
    text-align: center;
    font-size: 70px;
    padding-top: 120px;
    margin-bottom: 80px;
}
body#welcome_index .pricing .plan-separator {
    float: left;
    width: 3px;
    height: 360px;
    margin: 40px 30px 0 30px;
    background: #e1e1e1;
}
body#welcome_index .pricing .plan-container {
    float: left;
    width: 552px;
}
body#welcome_index .pricing .extra-plan {
    float: left;
    width: 552px;
    height: 80px;
    margin-top: 8px;
    background: #e1e1e1;
    border-radius: 3px;
}
body#welcome_index .pricing .extra-plan h2 {
    float: left;
    margin: 20px 0 0 20px;
    color: #777;
}
body#welcome_index .pricing .extra-plan p {
    font-size: 15px;
    color: #777;
}
body#welcome_index .pricing .extra-plan.free p {
    margin: 30px 140px 0 104px;
}
body#welcome_index .pricing .extra-plan.team p {
    margin: 18px 140px 0 134px;
}
body#welcome_index .pricing .extra-plan a.signup, body#welcome_index .pricing .extra-plan a.contact {
    float: right;
    display: block;
    width: 100px;
    padding: 10px;
    margin-top: 20px;
    margin-right: 20px;
    background: rgba(0, 0, 0, 0.18);
    color: white;
    font-weight: bold;
    text-align: center;
}
body#welcome_index .pricing .plan {
    float: left;
    position: relative;
    height: 352px;
    width: 272px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 3px;
}
body#welcome_index .pricing .plan.freelancer, body#welcome_index .pricing .plan.medium-team {
    margin-left: 8px;
}
body#welcome_index .pricing .plan.individual {
    background-color: #32e6ca;
}
body#welcome_index .pricing .plan.team {
    background-color: #00a8db;
}
body#welcome_index .pricing .plan h2, body#welcome_index .pricing .plan p, body#welcome_index .pricing .plan ul {
    text-align: center;
    color: #fff;
}
body#welcome_index .pricing .plan h2 {
    margin: 35px 0 25px 0;
}
body#welcome_index .pricing .plan ul {
    margin: 30px 0 0 0;
    list-style: none;
}
body#welcome_index .pricing .plan ul li {
    margin: 5px 0;
    font-size: 15px;
}
body#welcome_index .pricing .plan ul li .amount {
    font-weight: bold;
}
body#welcome_index .pricing .plan ul li .feature {
    color: rgba(255, 255, 255, 0.8);
}
body#welcome_index .pricing .plan .price {
    background: rgba(0, 0, 0, 0.18);
    border-radius: 50px;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}
body#welcome_index .pricing .plan .price .amount-container {
    text-align: center;
    padding: 25px 0px 0px 0px;
}
body#welcome_index .pricing .plan .price .amount-container .amount {
    margin: 0px 0px 0px -10px;
    font-weight: bold;
    font-size: 28px;
    color: #ffffff;
}
body#welcome_index .pricing .plan .price .amount-container .currency {
    position: relative;
    top: -8px;
    left: -7px;
    text-align: center;
    color: #ffffff;
    line-height: 14px;
}
body#welcome_index .pricing .plan .price .period {
    text-align: center;
    color: #ffffff;
    line-height: 14px;
    margin: -3px 0px 0px 0px;
}
body#welcome_index .pricing .plan a.signup {
    display: block;
    position: absolute;
    top: 296px;
    width: 100px;
    left: 50%;
    margin-left: -60px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.18);
    color: white;
    font-weight: bold;
    text-align: center;
}
body#welcome_index .get-started {
    background-color: white;
    border-top: 1px solid #ebebeb;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 60px;
}
body#welcome_index .get-started h2 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
}
body#welcome_index .get-started .register {
    width: 390px;
    margin: 0 auto;
}